
body{
background-color: rgba(144, 168, 144, 0.623);
border-radius: 20%;
top: 10px;
width: auto;
}


.container{
background-color: rgba(102, 102, 150, 0.644);
   width: 1000px;
}
div{
    border: solid 1px none;

}
#carouselExampleIndicators{
    margin:auto;
    width: 960px;
    height: 400px;
    bottom: 200px;
}
.row {
    top: 10px;
    bottom: 20px;
}

.caro